.saf{
    background-color: orange;
    height: 225px;
    width: 100%;
}
.whi{
    background-color: white;
    height: 244px;
    width: 100%;
}
.gre{
    background-color: green;
    height: 225px;
    width: 100%;
}
.chak{
    
    border: 10px solid blue;
    border-radius: 50%;
    shape-outside: margin-box;
    height: 225px;
    width: 225px;
    position: relative;
    margin: 0 auto;
}
.chak .line{
    height: 102%;
    width: 10px;
    display: inline-block;
    position: absolute;
    left: 48%;
    background: blue;
}

.line:nth-child(1){
transform: rotate(15deg);
}
.line:nth-child(2){
    transform: rotate(30deg);
}
.line:nth-child(3){
        transform: rotate(45deg);
}
.line:nth-child(4){
            transform: rotate(60deg);
}
.line:nth-child(5){
                transform: rotate(75deg);
}
.line:nth-child(6){
                    transform: rotate(90deg);
        }
.line:nth-child(7){
                        transform: rotate(105deg);
    }
.line:nth-child(8){
                            transform: rotate(120deg);
                            }
.line:nth-child(9){
                                transform: rotate(135deg);
                                }
.line:nth-child(10){
                                    transform: rotate(150deg);
                                    }
.line:nth-child(11){
                                        transform: rotate(165deg);
                                        }
.line:nth-child(12){
                                            transform: rotate(180deg);
                                            }
